<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peng.elderlymanage.dao.DoctorStationDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.peng.elderlymanage.entity.DoctorStation">
        <id column="id" property="id" />
        <result column="station_name" property="stationName" />
    </resultMap>
    <select id="selectOneById" resultMap="BaseResultMap">
        select * from rt_doctor_station where id = #{stationid}
    </select>

</mapper>
